@{
    ViewBag.Title = "ADAPTADORES";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h1 style="text-align:center">Perifericos</h1>
<div style="display: flex; justify-content: center; align-items: center;">
    <article class="wrapper-item">
        <img src="~/img/adaptador.jpg" />
    </article>
</div>